@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: "Inter", sans-serif;
}

.nav-link {
    border-bottom: 2px solid transparent;
    transition: border-bottom-color 0.3s ease;
}

.nav-link:hover {
    font-weight: bold;
    border-bottom: 2px solid cyan;
}